# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Environment variables
.env

# Static files
staticfiles/

# Media files
media/

# Virtual environment
venv/
env/

# Database
db.sqlite3

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Local development settings
local_settings.py

# migrations
**/migrations/
